<!-- 403.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
        text-align: center;
        padding: 50px;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>403 - Page Not Found</h1>
    <p>Sorry :(</p>
    <p>
      This error means that you don't have permission to access the page or
      resource you are trying to reach.
    </p>
    <p>
      Even though the server understands your request, it won't let you proceed.
    </p>
    <p><a href="{% url 'home' %}">Go to Home Page</a></p>
  </body>
</html>
